body {
  margin:0;
  font-size:16px;
  background-color:#eeeeee;
  font-family:sans-serif;
}

#main {
  position:relative;
  margin: 0px auto;
  width:20em;
  height:100em;
  background-color:#ffffff;
}

#adver {
  position:relative;
  top:0px;
  left:0px;
  width:20em;
  height:3em;
  padding:0px;
  margin:0 0 0.5em 0;
  frameborder:0px;
  background-color:#ffffff;
}

ul {
 list-style-type: none;
 padding: 5px 0 0 0;
 margin: 0px;
}
li {
 margin:-7px 0 -7px 0;
}
#divmyinput {
 margin:2px 0 2px 5px;
}

#myinput, .localStore, .listName {
 position:relative;
 top:-8px;
 border:2px solid #000000;
 border-radius: 3px;
 width:13em;
 font-size:1.1em;
 padding:3px;
 margin:1px;
 background-color:#ffffff;
 }


.localStore {
border:1px solid #000000;
}

.listName {
 border: none;  
 border-bottom: 2px solid #888888;
 background-color:#eeeeee;
 width:6em;
 font-weight:bold;
}


.number {
  width:2em;
}
 .foot {
  width:12em;
 }
 
#divmylist {
  width:20em;
 margin: 0.125em 0 0.125em 2em;
} 

.close {
 float:left;
}

#mylist, #options {
 display:none;
 position:absolute;
 left:5px;
 width:18em;
 z-index:99;
 background-color:#00A0C6;
 border:2px solid #666666;
 border-radius: 1em;
 padding:5px;
 margin:-5px 0 0 0;
 min-height:1.1em;
 box-shadow: 7px 7px 3px #888888;
 -moz-box-shadow: 7px 7px 3px #888888;
 -o-box-shadow: 7px 7px 3px #888888;
 -webkit-box-shadow: 7px 7px 3px #888888;
 }
.liste {
 margin:5px 0 5px 2px;
} 

.button {
 width:auto;
 height:1.875em;
 border:1px solid #000000;
 border-radius: 1em;
 font-size:1em;
 font-weight:bold;
 background-color:#555555;
 color:#ffffff;
 margin:2px;
}
#options .button {
 background-color:#FF0000;
 padding:0 10px 0 20px;
 background:url(delete.gif) left  no-repeat;
}
#selectPage {
 width:8em;
 height:2em;
 margin:0 0 -2.5em 11.5em;
 padding:0.4em 0.1em 0 0;
 text-align:right;
 z-index:20;
}
.page {
  width:19.75em;
  min-height:10em;
  background-color:#eeeeee;
  border:0.125em solid #000000;
  margin:0px;
  padding:5px 0 2px 0;
  display:none;
  z-index:1;
}

.pattern {
  width:5em;
  height:5em;
  margin:0.3em;
}

#editMyList img {
 display:none;
}

#info {
 float:right
}